@font-face {
    font-family: 'SohneBreit Kraftig';
    src: url('../fonts/TestSohneBreit-Kraftig.woff2') format('woff2'),
        url('../fonts/TestSohneBreit-Kraftig.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;

    /* Base Font-Size: 1rem */
    font-size: 16px;
}

.glide{
    z-index: 10;
    inset: 0;
}

/* HEADER */

header{
    padding: 1rem 0px;
}

header nav a.logo{
    display: block;
    border-radius: 50%;
    width: 58px;
    height: 58px;
}

header nav ul{
    gap: 4rem;
}

header nav ul li{
    color: white;
}

header nav ul li a{
    color: inherit;
    text-decoration: none;
    font-size: 1.25rem;
    line-height: 1;
    font-weight: 500;
}

header nav ul li a:hover{
    font-weight: bold;
}

/* PREVENT SHIFTING */
header nav ul li a::before { 
    display: block;
    content: attr(text);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

header button.menu-mobile{
    border: 0;
    background-color: transparent;
}

header button.menu-mobile svg{
    color: white;
    user-select: none;
    pointer-events: none;
}

#mobileMenuTrigger{
    display: grid;
    place-items: center;
    width: 32px;
    height: 32px;
}

#mobileMenuTrigger ul{
    position: absolute;
    top: 6rem;
    right: 0;
    margin: 0;
    display: none;
    flex-direction: column;
    align-items: end;
    gap:1.5rem;
    z-index: 99999;
}

#mobileMenuTrigger.mobile-menu-open ul{
    display: flex;
}

#mobileMenuTrigger ul li a{
    font-weight: 400;
    line-height: 1;
    font-size: 1rem;
    color: white;
}

/* MAIN BANNER */

main {
    z-index: 9999!important;
    background-color: rgba(166, 140, 139, 0.45);
    transition: all 0.3s;
}

main.mobile-menu-open {
    background-color: rgba(130, 103, 102, 1);
}

main div.middle-screen{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}

main div.middle-screen h1{
    font-family: 'SohneBreit Kraftig';
    font-size: 5.25rem;
    font-weight: 500;
    line-height: 1;
    letter-spacing: calc(0.16px * 15);
    color: white;
    text-shadow: 4px 4px 4px #00000040;
}

main div.middle-screen h3{
    font-size: 2rem;
    font-weight: 500;
    line-height: 1;
    letter-spacing: calc(0.16px * 15);
    color: white;
}

/* FOOTER */

footer nav ul.social-media{
    position: absolute;
    right: 0px;
    top: -12px;
    justify-self: flex-end;
}

footer nav ul li{
    color: white;
}

footer nav ul li a{
    color: inherit;
    text-decoration: none;
    font-size: 1.25rem;
    line-height: 1;
    font-weight: 500;
}

footer nav ul li a:hover{
    text-decoration: underline;
}

footer p{
    color: white;
    font-size: 0.75rem;
    line-height: 1;
    font-weight: 500;
    text-align: center;
}